# Use this file to keep certain files from being versioned (covered in the GitHub part of the course).
#data file structures
*.csv
*.rds

#Local R session junk
.Rhistory
.RData
.RDataTmp
.Rproj.user/

.DS_Store