# Use this file to keep certain files from being versioned (covered in the GitHub part of the course).
#data file structures
*.csv
*.rds
*.here
#Local R session junk
.Rhistory
.RData
.RDataTmp
.Rproj.user/

.DS_Store

.secrets/

__pycache__/